<br>
<div class="row">
	
	<div class="col-md-12">
		<h4 class="text-center">Pa</h4>
		<h6 class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
		<br>
		<br>
	</div>


	<div class="col-md-3">
		<div class="card">
		  <div class="card-body">
		    <h6 class="subtitle mb-2 text-muted"> <i class="f6 fas fa-clipboard-list"></i> Ver Propostas</h6>
		  </div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card">
		  <div class="card-body">
		    <h6 class="subtitle mb-2"> <i class="f6 fas fa-pen-nib"></i> Adicionar Proposta</h6>
		  </div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card">
		  <div class="card-body">
		    <h6 class="subtitle mb-2 text-muted"><i class="f6 far fa-check-square"></i> Meus votos</h6>
		  </div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card">
		  <div class="card-body">
		    <h6 class="subtitle mb-2 text-muted"><i class="f6 fas fa-chart-line"></i> Meus Resultados</h6>
		  </div>
		</div>
	</div>
</div>

<hr>