
.f6 {
    font-size: 2rem;
}

.mt10 {
    margin-top: 10px !important;
}

.nav, .pagination, .carousel, .card-title a { cursor: pointer; }

.uib-right i svg{
    width: 10px !important;
    height: 10px !important;
}
.uib-left i svg{
    width: 10px !important;
    height: 10px !important;
}

.menu-link {
    cursor: pointer;
}

.text-muted {
    opacity: 0.5;
}